.corpo{
    background-color: white;
    width: 720px;
    height: 550px;
    padding-left: 180px;
    margin-left: 150px;
}
.corpo section header h1{
    padding-top: 20px;
    padding-bottom: 20px;
}
.corpo section .formContato{
    font-weight: bold;
}
.corpo section .formContato .campoEmail, .campoAssunto, .campoMensagem{
    margin-top: 20px;
}
.corpo section .formContato #name, #email, #assunto, #mensagem{
    border: 1px solid rgb(179, 177, 177);
    border-radius: 3px;
}
.corpo section .formContato #name, #email, #assunto{
    width: 455px;
    height: 30px;
}
.corpo section footer #buttonEnviar{
    background-color: rgb(24, 23, 23);
    color: white;
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    width: 80px;
    height: 45px;
    border-radius: 40px;
    margin-top: 20px;
}
.corpo section footer #buttonEnviar:hover{
    background-color: rgb(204, 204, 204);
    color: black;
    border-color: black;
    border-width: 1px;
    box-shadow: 0px 5px 10px rgb(128, 127, 127);
}