*{
    margin: 0;
    padding: 0;
}
body{
    background-color: rgb(218, 219, 219);
}
.cabecalho{
    background-color: black;
    width: 900px;
    height: 60px;
    margin-left: 150px;
    padding-top: 20px;
}
.cabecalho li, a{
    display: inline;
    background: none;
    border: none;
    list-style: none;
    text-decoration: none;
}
.cabecalho #buttonIndex, #buttonContate{
    color: white;
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    padding-left: 25px;
}
.cabecalho #buttonIndex:hover, #buttonContate:hover{
    color: rgb(98, 98, 100);
}
.rodape{
    background-color: black;
    width: 900px;
    height: 70px;
    margin-left: 150px;
}